/* FONTS */
@font-face {
    font-family: penultimate;
    src: url(../fonts/GreatVibes-Regular.otf);
}

body {
	background-image: url(../images/brickwall.png); 
	margin: 0px;
}

.nav {
	display: flex;
    flex-direction: row;
    align-items: center;
    width: 750px;
    justify-content: space-between;
    margin: 20px auto;
    height: 34px;
    font-family: Helvetica;
}

.scroll {
	width: 100%;
	background: rgba(255,140,145, 0.5);
	font-style: Helvetica;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
.scroll_nav {
	top: 30%;
}

.link {
	width: 56px;
	text-align: center;
	padding: 10px;
	font-family: penultimate;
	font-size: 26px;
	color: black;
}

.link:link, .link:visited, .link:active {
	text-decoration: none;
	color: black;
}

.link:hover {
	text-decoration: underline;
}

#home-img {
	width: 800px;
    margin: 0 auto;
}

.contact {
	margin-top: 20px;
}

.contact .section {
	display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
}

.title-header {
	display: flex;
	flex-direction: column;
	width: 700px;
	margin: 0 auto;	
	text-align: center;
	padding-top: 20px;
}

#tufts-china-care {
	letter-spacing: 7px;
}

/* ABOUT */
.page-title {
    font-size: 35px;
    width: 350px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 6px;
}

.blurb {
	text-indent: 45px;
    width: 850px;
    margin: 15px auto 2px auto;
    letter-spacing: 2px;
    line-height: 22px;
}

#lux-header {
	font-size: 100px;
}

#fashion-show {
	letter-spacing: 11px;
}

/*#team-menu {
	margin-bottom: 0;
	padding-bottom: 2px;
}*/
#team-dropdown {
	list-style: none;
	padding: 0px;
	display: none;
	position: absolute;
	top: 18px;
	left: -57px;
	width: 200px;
	z-index: 5;

}
.team-item {
	text-align: center;
	height: 27px;
	background-color: #E5E5E5;
	color: black;
    font-size: 13px;
    letter-spacing: 2px;
	font-family: Times;
}

.team-item span {
	vertical-align: -webkit-baseline-middle;
}

.team-item:hover {
	background-color: #bfbfbf;
}

.team-item a:link, .team-item a:visited, .team-item a:active {
	text-decoration: none;
	color: black;
}

.link_team {
	position: relative;
}

.link:hover #team-dropdown{
	display: block;
}

.mosaicflow__column { 
	float:left;
} 

.mosaicflow__item img {
	display:block; 
	width:100%; 
	height:auto; 
}

/* DIRECTORS */
#director-container {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 780px;
    margin: 0 auto;
}

.director-item {
    width: 300px;
    height: 325px;
    margin: 15px;
    position: relative;
}

.director-image {
    width: 240px;
    height: 240px;
    position: absolute;
    top: 3px;
    left: 30px;
}

.director-name {
    position: absolute;
    bottom: 40px;
    width: inherit;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}

.director-title {
    position: absolute;
    bottom: 13px;
    width: inherit;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

/* MODELS */
.model-container {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
}

.model-item {
	width: 300px;
    height: 270px;
    margin: 15px;
    position: relative;
}

.model-image {
	width: inherit;
}

.model-name {
	position: absolute;
    bottom: 20px;
    font-size: 25px;
    width: inherit;
    text-align: center;
}

/* GALLERY */
.fotorama {
	width: 900px;
	margin: 0 auto;
}

/* PRESS */
.mosaicflow__column {
	float:left;
} .mosaicflow__item img {
	display:block; width:100%;
	height:auto;
}

.press-panel {
	width: 800px;
	margin: 0 auto;
}


